@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;600&display=swap');



@media  only speech
{
  hr:after
  {
    display: none ;
  }
}


@media  only screen and ( min-width:40rem )
{

  body
  {
    --margin-left: calc( 0.2 * ( 100vw - 40rem )) ;
  }


  details>summary
  {
    margin-left: 1rem ;
  }

  details
  {
    border-top-left-radius: 0.4rem 3rem ;
    border-bottom-left-radius: 0.4rem 3rem ;
  }

}


@media  only screen and (prefers-color-scheme: dark)
{

  body, p
  {
    --dark_background_color: #111 ;   /*  #111  */
    --dark_text_color: #CCC ;         /*  #CCC  */
    --dark_purple: #C8C ;

    --dark_background_rgb: 17, 17, 17 ;
    --dark_text_rgb: 204, 204, 204 ;
  }
}




:root
{
/*  --background_color: #111 ;  --text_color: #CCC ;  --dark_purple: #C8C ;*/
  --background_color: var( --dark_background_color, white ) ;
  --text_color: var( --dark_text_color, black ) ;
  --backgound_rgb: var( --dark_background_rgb, 255, 255, 255 ) ;
  --text_rgb: var( --dark_text_rgb, 0, 0, 0 ) ;

  --sans: 'Quicksand Light' ,  'Quicksand' ,  'Roboto' ,  sans-serif ;
  --serif: 'Montaga' ,  var( --sans ) ;
  --monospace: 'Nimbus Mono L' , 'FreeMono' , 'Source Code Pro' ,  monospace ;
  --thick_text_color: var( --dark_purple ,  black ) ;

  --details_rgb: 0, 136, 102 ;
}



*
{
  outline: none ;
  margin: 0px ;
  max-width: 40rem ;
  color: var( --text_color ) ;
  font-weight: 300 ;
  cursor: default ;

  font-smooth: none ;
  -webkit-font-smoothing: none ;
  -moz-osx-font-smoothing: grayscale ;
  text-rendering: optimizeSpeed ;
}

html
{
  padding: 0px ;
  min-height: 100vh ;
  overflow-x: hidden ;    /*  Scrollbar  */
}

body
{
  margin-left: var( --margin-left , 0px ) ;
  padding: 0px ;
  min-height: 100vh ;
  background-color: var( --background_color ) ;
  font-family: var( --sans ) ;
  overflow-x: hidden ;
}

main
{
  margin: 0px ;
  min-height: 100vh ;
}

section
{
  padding-top: 0.6rem ;
  padding-bottom: 0.6rem ;
}



h1    /*  Title  */
{
  padding: 2rem ;
  padding-bottom: 1rem ;
  color: #603 ;
  font-family: var( --serif ) ;
  font-weight: 300 ;
  text-shadow: 0px 0px 0.1rem #993 ;
}

h2    /*  Suppliment-Title  */
{
  padding: 0.6rem 2.5rem ;
  font-family: var( --san ) ;
  font-weight: 300 ;
  text-shadow: 0.05rem 0.05rem 0.1rem #603 ;
}

h3    /*  Section Titles  */
{
  padding-left: 0.5rem ;
  color: #306 ;
  font-weight: 300 ;
  text-shadow: 0.05rem 0.05rem 0.05rem #603 ;
}

h3 ,  h4 ,  h5
{
  padding: 1rem 1rem ;
/*  color: var( --thick_text_color ) ;*/
}

h4 ,  h5 ,  h6
{
  font-family: var( --serif ) ;
  font-weight: 400 ;
}

h4, h5    /*  Sub-Headings  */
{
  color: #939 ;
}

h6    /*  Footer Headings  */
{
  color: white ;
}

hr
{
  height: 2px ;
  width: 100% ;
  border: 1px 0px solid ;
  border-image: linear-gradient( to right, var( --background_color ), var( --text_color ), var( --text_color ), var( --background_color )) 1;
  color: var( --text_color ) ;
  font-family: var( --serif ) ;
  font-size: xx-small ;
  font-weight: bold ;
  text-align: center ;
  text-shadow: 0.05rem 0.05rem 0.05rem #A0F ;
  overflow: visible ;
}

hr:after
{
  display: inline-block ;
  position: relative ;
  content: "V" ;
  padding: 0.5rem ;
  top: -1rem ;
  background-image: radial-gradient( var( --background_color ), var( --background_color ), rgba(var( --backgound_rgb ),0.0)) ;
}




p
{
/*  color: initial ;*/
  padding: 0.4rem 0.4rem ;
  line-height: 1.6 ;
  font-size: normal ;
  font-weight: 300 ;
  text-shadow: none ;
  white-space: pre-wrap ;
}

aside
{
  padding-left: 6rem ;
  padding-right: 2rem ;
  text-align: right ;
  font-size: smaller ;
  font-style: oblique ;
  white-space: pre-wrap ;
}

aside>strong
{
  color: black ;
}

strong
{
  color: #333  !important ;
  font-weight: 400 ;
}

small>sup>strong
{
  color: #603  !important ;
  font-weight: 400 ;
  text-shadow: 0.05rem 0.05rem 0.05rem #993  !important ;
}

q
{
  color: #603 ;
/*  font-size: smaller ;*/
/*  text-shadow: 0.05rem 0.05rem 0.3rem #A0F ;*/
}

s
{
  color: #333  !important ;
  text-decoration-color: #808  !important ;
  font-weight: lighter ;
}

small
{
  font-weight: lighter ;
}

sup
{
  font-size: small ;
  font-weight: lighter ;
}

kbd
{
  color: #603  !important ;
  font-size: small ;
  font-weight: 400 ;
/*  vertical-align: middle ;      text-top  */
  text-shadow: 0.05rem 0.05rem 0.1rem #993 ;
}




li>p
{
  font-weight: 400 ;
}

ol>li::marker
{
  color: #603  !important ;
  font-family: var( --serif ) ;
  font-size: smaller ;
  text-shadow: 0px 0px 0.1rem #993  !important ;
}

ol>li
{
  padding-left: 0.4rem ;
}


ul
{
  list-style-type: circle ;
  padding-left: 2rem ;
}

ul>li::marker
{
  color: #603  !important ;
}

ol>li>ul
{
  padding-left: 2rem ;
}

ol>li>ul>li:first-child
{
  margin-top: -0.2rem ;
}

li>p.asterisk
{
  margin-top: -1rem ;
  padding-left: 1rem ;
}




dl
{
  padding-left: 1rem ;
  padding-right: 1rem ;
}

dfn
{
  font-weight: 400 ;
  font-size: smaller ;
}

dd
{
  padding-top: 0.3rem ;
  white-space: pre-wrap ;
}




summary::marker
{
  color: #603  !important ;
}

details>summary:*
{
  cursor: pointer ;
}

details>summary
{
  padding-left: 1rem ;
  padding-bottom: 0.6rem ;
  cursor: pointer ;
  color: #603  !important ;
  font-family: var( --serif ) ;
  font-weight: normal ;
  white-space: pre-wrap ;
}

details>summary:hover /*details>summary:active*/
{
  font-style: oblique ;
  text-shadow: 0px 0px 0.1rem #993 ;
}

details>summary:hover:before /*details>summary:active:before*/
{
  content: " "
}

/*details>summary:active*/
/*{*/
/*  margin-left: 0.5rem ;*/
/*}*/

/*details:active*/
/*{*/
/*  margin-left: 0.5rem ;*/
/*  border-color: #CFF ;*/
/*  background-image: linear-gradient( to right, #CFF, white ) ;*/
/*  box-shadow: inset 0px -0.5rem 1rem white ;*/
/*}*/


details>summary>strong
{
  text-shadow: 0.05rem 0.05rem 0.05rem rgb( var( --details_rgb )) ;
}

details
{
  display: inline-block ;
/*  margin-left: 1rem ;*/
  margin-bottom: 1em ;
  padding-top: 0.3rem;
  padding-left: 0px ;
  border-left: 2px solid #603 ;
/*  border-top-left-radius: 0.5rem 1rem ;*/
/*  border-bottom-left-radius: 0.5rem 1rem ;*/
  min-width: 66% ;
}

details[open]
{
/*  margin-left: 0px ;*/
/*  border-top-left-radius: 1rem 3rem ;*/
/*  border-bottom-left-radius: 1rem 3rem ;*/
  border-color: #96C ;
  width: 100% ;
}

/*details[open]:active*/
/*{*/
/*  border-color: #96C ;*/
/*  background-image: none ;*/
/*}*/


details[open]>summary
{
/*  margin-left: 1rem ;*/
  color: #603  !important ;
  font-style: oblique ;
}

details[open]>summary:hover
{
  color: #603  !important ;
}



details>div.close_details:last-child
{
  visibility: visible ;
  display: block ;
  margin-left: 2px ;
  padding: 0.4rem 0px ;
  width: 100% ;
  border: 0px ;
  color: #666 ;
  font-family: var( --monospace ) ;
  font-size: x-small ;
  text-decoration: underline ;
  text-decoration-color: #666 ;
  text-align: right ;
}

details>div.close_details:last-child:after
{
  content: "^close  " ;
  white-space: pre-wrap ;
}

details>div.close_details:last-child:hover
{
  cursor: pointer ;
  font-style: oblique ;
}

/*details>div.close_details:last-child:active*/
/*{*/
/*  border-bottom-left-radius: 1.4rem 3rem ;*/
/*  border-bottom: 1px solid #DCF ;*/
/*  background-image: linear-gradient( to right, #DCF, white ) ;*/
/*  box-shadow: inset 0px 1rem 0.4rem white ;*/
/*}*/





label, meter
{
  font-size: smaller ;
}




p.disclaimer
{
  margin-left: 0px ;
  margin-right: 0px ;
  padding: 1rem 2rem ;
  color: #666  !important ;
  background-image: linear-gradient( to right ,  rgba(0,0,0,0) ,  #FFC 8%,  #FFC 92%,  rgba(0,0,0,0)) ;
  font-size: smaller ;
  text-align: center ;
}

p.disclaimer strong
{
  color: inherit ;
  text-shadow: 0.05rem 0.05rem 0.05rem #93F ;
}



pre
{
  display: block ;
  margin: 0.6rem 0px ;
  padding: 1rem 0.6rem ;
  width: calc( 100% - 2em ) ;
/*  background-image: linear-gradient( to right, #DDF, white ) ;*/
  color: black ;
  border-radius: 0.4rem 0.4rem 0.4rem 0px ;
  line-height: 1.4 ;
  font-family: var( --monospace ) ;
  font-size: smaller ;
  font-weight: thin ;
/*  box-shadow: inset -0.1rem 0.2rem 0.2rem rgba( 128, 128, 128, 0.6 ) ;*/
  border-left: 2px solid #66F ;
  box-shadow: 0px 0px 0.6rem #999 ;
  overflow-x: auto ;
}

details>pre
{
  margin-left: -2px ;
}

pre>.code_line
{
  display: inline-block ;
  width: 100% ;
}

pre>.code_line:hover ,
pre>.code_line:active
{
  background-color: rgb(215, 205, 255) ;
}


pre>.code_line>.keyword
{
  color: #444 ;
}

pre>.code_line>.define
{
  color: #337 ;
  font-size: larger ;
  font-weight: bold ;
}

pre>.code_line>.func
{
  font-size: larger ;
  font-weight: bold ;
}

pre>.code_line>.typedef
{
  color: #606 ;
}

pre>.code_line>.string
{
  color: #880 ;
}

pre>.code_line>.semi-colon
{
/*  color: #3A3 ;*/
  font-size: smaller ;
  font-weight: bold ;
/*  text-shadow: 0px 0px 0.1rem #600 ;*/
}


pre>.code_line>.comment_open ,  pre>.code_line>.comment_close
{
  color: #666 ;
  font-style: oblique ;
  font-size: xx-small ;
  vertical-align: text-top ;    /*  super  */
  text-shadow: 0px 0px 0.1rem #0A0 ;
}

pre>.code_line>.comment
{
  color: #8AC ;
  font-style: oblique ;
/*  font-size: larger ;*/
  text-shadow: 0px 0px 0.05rem #0A0 ;
}

pre>.code_line>.block_brace
{
/*  color: #444 ;*/
  font-size: xx-small ;
/*  font-weight: bold ;*/
/*  text-shadow: 0px 0px 0.1rem black ;*/
}

pre>.code_line>.brace
{
  font-size: 1.4rem ;
}

pre>.code_line>.cast
{
  font-size: smaller ;
}



.first_use:link ,
.first_use:visited ,
.first_use:hover ,
.first_use:active
{
  visibility: visible ;
  display: block ;
  margin: 0px ;
  padding: 0px;
  max-width: 100vw ;
  color: #808 ;
  font-style: oblique ;
  text-decoration: underline #000 dotted ;
  text-align: right ;
  font-size: xx-small ;
}

pre>a.go_to_define:link ,
pre>a.go_to_define:visited ,
pre>a.go_to_define:hover ,
pre>a.go_to_define:active
{
  color: #808 ;
  font-style: oblique ;
  text-decoration: underline #000 dotted ;
}



section.throwaway   /*  kettlebells & eccential oils  */
{
  padding-left: 0.4rem ;
  padding-right: 0.4rem ;
  background-image: linear-gradient( to right, #DDD, white, white ) ;
}

section.throwaway p
{
  color: #333  !important ;
  font-weight: 300 ;
}





.footer
{
  margin: 0px ;
  padding: 0px ;
/*  margin-top: 2rem ;*/
/*  margin-bottom: 0px ;*/
  min-height: 2rem ;
  min-width: 100% ;
  background-color: transparent ;
  overflow-x: hidden ;    /*  Scrollbar  */
  overflow-y: hidden ;    /*  Scrollbar  */
/*  background-image: linear-gradient( 355deg, #505, #203 1.5rem ) ;*/
/*  box-shadow: inset 0px -0.1rem 0.1rem 0rem #808 ;*/
/*  color: #DDD ;*/
/*  z-xindex: 100 ;*/
}

footer
{
/*  position: fixed ;*/
/*  bottom: 0px ;*/
  margin: 0px ;
  padding: 0px ;
/*  height: 100% ;*/
  background-image: linear-gradient( 355deg, #505, #203 1.5rem ) ;
  border-bottom: 2px solid #808 ;
  overflow-x: hidden ;    /*  Scrollbar  */
  overflow-y: hidden ;    /*  Scrollbar  */
/*  z-index: -1 ;*/
}
